# 16년 데이터로 17년 결과 예측 모델 만들고

# 17년 데이터를 이용해 18년 결과와 얼마나 비슷한지 확인해서

# 괜찮으면 그걸로 19년 데이터를 예측해보자

### 16년 데이터와 17년 데이터 조작

In [48]:
import pandas as pd
import numpy as np
import lightgbm as lgb

In [94]:
df = pd.read_csv('Regular_Season_Batter.csv')
df_daybyday = pd.read_csv('Regular_Season_Batter_Day_by_Day.csv')
df_regular=pd.read_csv('Regular_Season_Batter.csv')
df.head()

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349,0.337,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325,0.348,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257,0.232,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489

In [50]:
df_16 = df[df['year'] == 2016]
df_17 = df[df['year'] == 2017]

In [51]:
df_16['batter_id'].nunique(), df_17['batter_id'].nunique()

(213, 217)

In [52]:
df_16.columns

Index(['batter_id', 'batter_name', 'year', 'team', 'avg', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP',
       'SLG', 'OBP', 'E', 'height/weight', 'year_born', 'position', 'career',
       'starting_salary', 'OPS'],
      dtype='object')

In [53]:
df_16 = df_16[['batter_id', 'batter_name', 'year', 'avg', 'G', 'AB', 'R', 'H',
               '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'E', 'OPS']]
df_17 = df_17[['batter_id', 'batter_name', 'year', 'avg', 'G', 'AB', 'R', 'H',
               '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'E', 'OPS']]

In [54]:
len(df_16)

213

In [55]:
len(df_17)

217

In [137]:
df_1617 = pd.merge(df_16, df_17, on = 'batter_id', how = 'inner') 
df_1617

,batter_id,batter_name_x,year_x,team_x,avg_x,G_x,AB_x,R_x,H_x,2B_x,...,GDP_y,SLG_y,OBP_y,E_y,height/weight_y,year_born_y,position_y,career_y,starting_salary_y,OPS_y
0,1,강경학,2016,한화,0.158,46,101,16,16,3,...,1,0.262000,0.290000,4,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.552000
1,2,강구성,2016,NC,0.000,2,3,0,0,0,...,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000
2,4,강민호,2016,롯데,0.323,116,381,65,123,26,...,15,0.482000,0.361000,11,185cm/100kg,1985년 08월 18일,포수(우투우타),제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.843000
3,9,강승호,2016,LG,0.184,18,38,4,7,3,...,5,0.383000,0.272000,12,179cm/77kg,1994년 02월 09일,내야수(우투우타),순천북초-천안북중-북일고-LG-경찰-LG,20000만원,0.655000
4,12,강한울,2016,KIA,0.272,104,298,36,81,13,...,4,0.340000,0.344000,16,181cm/66kg,1991년 09월 12일,내야수(우투좌타),사당초-중앙중-안산공고-원광대-KIA,14000만원,0.684000
5,230,이종환,2016,한화,0.276,31,29,3,8,1,...,0,0.000000,0.000000,0,NaN,1986년 05월 08일,NaN,태안초-태안중-북일고-단국대-KIA-상무-KIA,NaN,0.000000
6,18,고종욱,2016,넥센,0.334,133,527,92,176,22,...,11,0.462000,0.349000,5,184cm/83kg,1989년 01월 11일,외야수(우투좌타),역삼초-대치중-경기고-한양대-넥센-상무,8000만원,0.811000
7,19,구자욱,2016,삼성,0.343,108,428,105,147,19,...,1,0.527000,0.383000,5,189cm/75kg,1993년 02월 12일,외야수(우투좌타),본리초-경복중-대구고-삼성-상무,13000만원,0.910000
8,20,국해성,2016,두산,0.278,58,151,28,42,11,...,2,0.349000,0.281000,0,180cm/94kg,1989년 10월 08일,외야수(우투양타),군산중앙초-동인천중-인천고,NaN,0.630000
9,22,권정웅,2016,삼성,1.000,3,1,1,1,0,...,4,0.424000,0.278000,1,180cm/88kg,1992년 11월 15일,포수(우투우타),서울이수초-영동중-덕수고-한양대,6000만원,0.702000
10,23,권희동,2016,NC,0.268,14,41,4,11,0,...,12,0.458000,0.371000,3,177cm/85kg,1990년 12월 30일,외야수(우투우타),동천초-경주중-경주고-경남대-NC-상무,3000만원,0.829000
11,24,김강민,2016,SK,0.298,115,366,59,109,21,...,3,0.339000,0.296000,2,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,0.635000
12,26,김경언,2016,한화,0.264,66,182,23,48,6,...,1,0.457143,0.330508,0,NaN,1982년 12월 07일,NaN,부산중앙초-개성중-경남상고-KIA,NaN,0.787651
13,29,김대륙,2016,롯데,0.143,58,49,5,7,1,...,0,0.188679,0.210526,4,NaN,1992년 04월 03일,NaN,대해초-포철중-포철공고-동아대,NaN,0.399206
14,101,문선재,2016,LG,0.288,52,111,28,32,3,...,0,0.413000,0.333000,3,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,0.746000
15,30,김동엽,2016,SK,0.336,57,143,19,48,8,...,6,0.496000,0.329000,5,186cm/101kg,1990년 07월 24일,외야수(우투우타),천안남산초-천안북중-북일고,NaN,0.825000
16,31,김동욱,2016,KT,0.135,21,37,3,5,0,...,7,0.388000,0.309000,4,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,0.697000
17,33,김동한,2016,롯데,0.252,78,107,9,27,6,...,2,0.393000,0.292000,7,174cm/74kg,1988년 06월 24일,내야수(우투우타),내발산초-양천중-장충고-동국대-두산-상무-두산,4000만원,0.685000
18,34,김만수,2016,KT,0.000,1,1,0,0,0,...,0,0.167000,0.167000,1,180cm/80kg,1996년 04월 18일,포수(우투우타),순천북초-순천이수중-효천고,7000만원,0.334000
19,35,김문호,2016,롯데,0.325,140,526,77,171,28,...,5,0.356000,0.372000,4,185cm/102kg,1987년 06월 22일,외야수(좌투좌타),고명초-덕수중-덕수정보고-(영남사이버대)-롯데-상무,12000만원,0.728000
20,36,김민성,2016,넥센,0.306,141,510,76,156,39,...,15,0.436000,0.345000,6,181cm/94kg,1988년 12월 17일,내야수(우투우타),고명초-잠신중-덕수정보고-(영남사이버대)-롯데,10000만원,0.781000
21,38,김민식,2016,SK,0.257,88,144,17,37,9,...,7,0.293000,0.283000,8,180cm/80kg,1989년 06월 28일,포수(우투좌타),양덕초-마산중-마산고-원광대-SK-상무-SK,14000만원,0.576000
22,335,홍성갑,2016,넥센,0.226,44,62,4,14,0,...,1,0.143000,0.250000,0,181cm/80kg,1992년 08월 02일,외야수(우투우타),서원초-천안북중-북일고,NaN,0.393000
23,40,김사훈,2016,롯데,0.321,19,28,5,9,1,...,2,0.224000,0.250000,1,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,0.474000
24,41,김상수,2016,삼성,0.271,105,358,56,97,13,...,4,0.375000,0.291000,7,175cm/68kg,1990년 03월 23일,내야수(우투우타),대구옥산초-경복중-경북고,28000만원,0.666000
25,42,김상호,2016,롯데,0.290,114,366,39,106,20,...,4,0.277000,0.316000,0,181cm/87kg,1989년 05월 10일,내야수(우투우타),청구초-홍은중-장충고-고려대-롯데-상무,3000만원,0.593000
26,47,김연훈,2016,KT,0.217,103,166,13,36,10,...,0,0.250000,0.166667,1,NaN,1984년 12월 23일,NaN,군산초-군산남중-군산상고-성균관대-KIA-SK-KT,NaN,0.416667
27,43,김선빈,2016,KIA,0.360,6,25,3,9,2,...,10,0.477000,0.420000,14,165cm/77kg,1989년 12월 18일,내야수(우투우타),화순초-화순중-화순고-KIA-상무,3000만원,0.897000
28,44,김성욱,2016,NC,0.265,130,306,60,81,15,...,4,0.390000,0.315000,0,181cm/83kg,1993년 05월 01일,외야수(우투우타),광주서림초-충장중-진흥고,7000만원,0.705000
29,45,김성현,2016,SK,0.319,138,479,66,153,28,...,8,0.339000,0.335000,6,172cm/72kg,1987년 03월 09일,내야수(우투우타),송정동초-충장중-광주제일고-SK-상무,7000만원,0.674000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,286,조수행,2016,두산,0.276,66,29,16,8,0,...,0,0.319000,0.346000,1,178cm/73kg,1993년 08월 30일,외야수(우투좌타),노암초-경포중-강릉고-건국대,14000만원,0.665000
153,287,조영훈,2016,NC,0.335,109,179,29,60,14,...,2,0.275000,0.244444,1,NaN,1982년 11월 12일,NaN,영랑초-설악중-속초상고-건국대-삼성-경찰-삼성-KIA,NaN,0.519444
154,288,조윤준,2016,LG,1.000,2,1,1,1,0,...,2,0.237000,0.268000,0,185cm/95kg,1989년 08월 30일,포수(우투우타),대전신흥초-한밭중-북일고-중앙대,20000만원,0.505000
155,289,조인성,2016,한화,0.168,76,137,10,23,2,...,1,0.137931,0.137931,2,NaN,1975년 05월 25일,NaN,수유초-신일중-신일고-연세대-LG-SK-한화,NaN,0.275862
156,293,주효상,2016,넥센,0.222,12,18,3,4,1,...,2,0.263000,0.264000,2,182cm/85kg,1997년 11월 11일,포수(우투좌타),역북초-강남중-서울고,20000만원,0.527000
157,294,지석훈,2016,NC,0.219,141,351,34,77,14,...,8,0.366000,0.318000,11,181cm/74kg,1984년 03월 17일,내야수(우투우타),가동초-휘문중-휘문고-현대-우리-상무-넥센,25000만원,0.684000
158,298,차일목,2016,한화,0.228,117,276,30,63,8,...,5,0.271739,0.324074,0,NaN,1981년 01월 26일,NaN,본리초-경운중-대구상고-홍익대-KIA-한화,NaN,0.595813
159,300,채은성,2016,LG,0.313,128,403,64,126,20,...,8,0.339000,0.323000,3,186cm/92kg,1990년 02월 06일,외야수(우투우타),순천북초-순천이수중-효천고,NaN,0.662000
160,301,채태인,2016,넥센,0.286,124,370,29,106,14,...,9,0.500000,0.388000,6,187cm/94kg,1982년 10월 11일,내야수(좌투좌타),대신초-대동중-부산상고-삼성-넥센,10000만원,0.888000
161,303,최경철,2016,LG,0.156,29,45,3,7,2,...,0,0.562500,0.421053,0,NaN,1980년 08월 15일,NaN,효자초-전주동중-전주고-동의대-SK-상무-SK-넥센-LG,NaN,0.983553
162,307,최승준,2016,SK,0.266,76,199,31,53,5,...,3,0.478000,0.296000,1,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,0.774000
163,310,최원준,2016,KIA,0.458,14,24,5,11,1,...,2,0.462000,0.351000,6,178cm/85kg,1997년 03월 23일,내야수(우투좌타),연현초-서울경원중-서울고,15000만원,0.813000
164,311,최윤석,2016,한화,0.125,11,16,2,2,0,...,0,0.219000,0.219000,1,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,0.438000
165,312,최재훈,2016,두산,0.167,22,18,1,3,1,...,10,0.305000,0.340000,1,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,0.645000
166,313,최정,2016,SK,0.288,141,500,106,144,24,...,8,0.684000,0.427000,6,180cm/90kg,1987년 02월 28일,내야수(우투우타),대일초-평촌중-유신고,30000만원,1.111000
167,314,최정민,2016,SK,0.329,88,155,29,51,4,...,0,0.444000,0.333000,0,177cm/75kg,1989년 06월 02일,내야수(우투좌타),배영초-마산중-마산고-동아대-SK-상무-SK,6000만원,0.777000
168,315,최주환,2016,두산,0.281,85,160,21,45,11,...,10,0.424000,0.370000,7,178cm/73kg,1988년 02월 28일,내야수(우투좌타),학강초-광주동성중-광주동성고-두산-상무,6000만원,0.794000
169,316,최준석,2016,롯데,0.262,116,325,49,85,10,...,24,0.430000,0.364000,1,187cm/130kg,1983년 02월 15일,내야수(우투우타),칠성초-포철중-포철공고-(영남사이버대)-롯데-두산-롯데,3000만원,0.794000
170,317,최진행,2016,한화,0.329,28,70,4,23,2,...,3,0.539000,0.375000,1,188cm/100kg,1985년 08월 17일,외야수(우투우타),서울동원초-청량중-덕수정보고-(우송대)-한화-경찰,10000만원,0.914000
171,319,최형우,2016,삼성,0.376,138,519,99,195,46,...,15,0.576000,0.450000,4,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,1.026000
172,324,하주석,2016,한화,0.279,115,405,58,113,21,...,6,0.440000,0.328000,9,184cm/84kg,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,0.768000
173,325,하준호,2016,KT,0.219,94,187,26,41,5,...,3,0.337000,0.311000,8,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,0.648000
174,326,한동민,2016,SK,0.278,6,18,3,5,0,...,8,0.614000,0.396000,5,190cm/95kg,1989년 08월 09일,외야수(우투좌타),중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,1.010000
175,329,한승택,2016,KIA,0.179,27,28,1,5,0,...,1,0.277000,0.289000,2,174cm/83kg,1994년 06월 21일,포수(우투우타),잠전초(남양주리틀)-잠신중-덕수고-한화-경찰,9000만원,0.566000
176,331,허경민,2016,두산,0.286,144,538,96,154,24,...,15,0.347000,0.327000,5,176cm/69kg,1990년 08월 26일,내야수(우투우타),송정동초-충장중-광주제일고-두산-경찰,13000만원,0.674000
177,332,허도환,2016,한화,0.218,48,78,9,17,8,...,2,0.375000,0.326000,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.701000
178,337,홍재호,2016,KIA,0.077,22,13,4,1,0,...,0,NaN,NaN,0,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,NaN
179,339,황목치승,2016,LG,0.179,48,39,7,7,3,...,0,0.206897,0.258065,4,NaN,1985년 06월 21일,NaN,제주남초-제주제일중-일본 교토고쿠사이고-일본 아세아대,NaN,0.464961
180,341,황윤호,2016,NC,0.083,33,12,7,1,0,...,0,0.267000,0.235000,1,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.502000
181,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,2,0.402000,0.359000,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761000

In [57]:
df_1617.isnull().sum()

batter_id        0
batter_name_x    0
year_x           0
avg_x            0
G_x              0
AB_x             0
R_x              0
H_x              0
2B_x             0
3B_x             0
HR_x             0
TB_x             0
RBI_x            0
SB_x             0
CS_x             0
BB_x             0
HBP_x            0
SO_x             0
GDP_x            0
SLG_x            0
OBP_x            0
E_x              0
OPS_x            0
batter_name_y    0
year_y           0
avg_y            1
G_y              0
AB_y             0
R_y              0
H_y              0
2B_y             0
3B_y             0
HR_y             0
TB_y             0
RBI_y            0
SB_y             0
CS_y             0
BB_y             0
HBP_y            0
SO_y             0
GDP_y            0
SLG_y            1
OBP_y            1
E_y              0
OPS_y            1
dtype: int64

In [58]:
df_1617 = df_1617.dropna(axis = 0)

In [59]:
X_train = df_1617[['avg_x', 'G_x', 'AB_x', 'R_x', 'H_x', '2B_x', '3B_x', 'HR_x', 'TB_x',
                   'RBI_x', 'SB_x', 'CS_x', 'BB_x', 'HBP_x', 'SO_x', 'GDP_x', 'E_x', 'SLG_x', 'OBP_x']]
y_train = df_1617['OPS_y']

In [60]:
X_train = X_train.values
y_train = y_train.values

In [61]:
X_train.shape, y_train.shape

((181, 19), (181,))

In [62]:
y_train = y_train.reshape(-1, 1)

In [63]:
y_train.shape

(181, 1)

In [64]:
model_lgb = lgb.LGBMRegressor(objective = 'regression', num_leaves = 5,
                             learning_rate = 0.05, n_estimators = 720,
                             max_bin = 55, bagging_fraction = 0.8,
                             bagging_freq = 5, feature_fraction = 0.2319,
                             feature_fraction_seed = 9, bagging_seed = 9,
                             min_data_in_leaf = 6, min_sum_hessian_in_leaf = 11)

In [65]:
model_lgb.fit(X_train, y_train)
lgb_train_pred = model_lgb.predict(X_train)

C:\Users\chanqun\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [66]:
from sklearn import  linear_model

regr = linear_model.LinearRegression(fit_intercept=True, 
                                     normalize=False,    
                                     copy_X=True,       
                                     n_jobs=8)           
regr.fit(X_train, y_train)
regr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=8, normalize=False)

In [67]:
from sklearn.metrics import mean_squared_error
mean_squared_error(regr.predict(X_train), y_train)

0.031261921123765614

In [68]:
from sklearn.metrics import mean_squared_error
mean_squared_error(regr.predict(X_train), y_train)

0.031261921123765614

In [71]:
df_16 = df_regular[df_regular['year'] == 2016]
df_17 = df_regular[df_regular['year'] == 2017]
df_18 = df_regular[df_regular['year'] == 2018]

In [72]:
df_regular_batter = df_regular['batter_name'].unique().tolist()

In [73]:
df_17_batter = df_17['batter_name'].unique().tolist()

In [84]:
df_18_batter = df_18['batter_name'].unique().tolist()

In [89]:
df_16_batter =df_16['batter_name'].unique().tolist()

In [90]:
df_16_batter

['강경학',
 '강구성',
 '강민국',
 '강민호',
 '강승호',
 '강한울',
 '고메즈',
 '고영민',
 '이종환',
 '고종욱',
 '구자욱',
 '국해성',
 '권용관',
 '권정웅',
 '권희동',
 '김강민',
 '김경언',
 '박재상',
 '김대륙',
 '문선재',
 '김동엽',
 '김동욱',
 '김동한',
 '김만수',
 '김문호',
 '김민성',
 '김민식',
 '홍성갑',
 '김민하',
 '김사훈',
 '김상수',
 '신현철',
 '김상호',
 '김연훈',
 '김선빈',
 '김성욱',
 '김성현',
 '김용의',
 '김원석',
 '김원섭',
 '김인태',
 '김재현',
 '김재호',
 '김재환',
 '김종호',
 '김주찬',
 '김주형',
 '김지수',
 '김진곤',
 '김태균',
 '김태완',
 '김태진',
 '김하성',
 '김회성',
 '나경민',
 '나성범',
 '나성용',
 '나주환',
 '나지완',
 '남태혁',
 '노수광',
 '대니돈',
 '도태훈',
 '로사리오',
 '류지혁',
 '모창민',
 '문규현',
 '민병헌',
 '박건우',
 '박경수',
 '박광열',
 '박기혁',
 '박노민',
 '박동원',
 '박민우',
 '박석민',
 '박세혁',
 '박승욱',
 '박용근',
 '박용택',
 '박정권',
 '박정음',
 '이호신',
 '박한이',
 '박해민',
 '박헌도',
 '배영섭',
 '배정대',
 '백상원',
 '백용환',
 '백창수',
 '서건창',
 '서동욱',
 '서상우',
 '성의준',
 '손시헌',
 '손아섭',
 '손용석',
 '손주인',
 '송광민',
 '신본기',
 '신성현',
 '신종길',
 '심우준',
 '안익훈',
 '안중열',
 '안치홍',
 '양석환',
 '양성우',
 '양의지',
 '오선진',
 '오재원',
 '오재일',
 '오정복',
 '오지환',
 '오태곤',
 '용덕한',
 '우동균',
 '유강남',
 '유민상',
 '유재신',
 '유한준',
 '윤병호',
 '윤석민',
 '윤완주',
 '윤요섭',
 '윤정우',
 '윤진호',
 '이대수',
 '이대형',
 '이동훈',
 '이명기',
 '이범호',
 '이상호',
 '이성열',
 '이성우',
 '조동찬',
 '이양기',
 '이여상',
 '이영욱',
 '이용규',
 '이우민',
 '이우성',
 '이원석',
 '이재원',
 '이재율',
 '이정식',
 '이종욱',
 '이지영',
 '이진영',
 '이천웅',
 '이택근',
 '이해창',
 '이형종',
 '조평호',
 '이홍구',
 '이흥련',
 '임병욱',
 '임훈',
 '장민석',
 '장시윤',
 '장영석',
 '장준원',
 '전준우',
 '정근우',
 '정범모',
 '정상호',
 '정성훈',
 '정수빈',
 '정의윤',
 '정주현',
 '정주후',
 '정진호',
 '정현석',
 '정훈',
 '조동화',
 '조수행',
 '조영훈',
 '조윤준',
 '조인성',
 '주효상',
 '지석훈',
 '지성준',
 '지재옥',
 '차일목',
 '채은성',
 '채태인',
 '최경철',
 '최선호',
 '최승준',
 '최원준',
 '최윤석',
 '최재훈',
 '최정',
 '최정민',
 '최주환',
 '최준석',
 '최진행',
 '최형우',
 '테임즈',
 '하주석',
 '하준호',
 '한동민',
 '한승택',
 '허경민',
 '허도환',
 '홍성흔',
 '홍재호',
 '홍창기',
 '황목치승',
 '황윤호',
 '황재균',
 '황진수']

In [78]:
only17 = []
only18 = []
both1718 = []
Neither = []

for i in range(len(df_regular_batter)) :
    if df_regular_batter[i] in df_17_batter and df_regular_batter[i] in df_18_batter :
        both1718.append(df_regular_batter[i])
    elif df_regular_batter[i] in df_17_batter and df_regular_batter[i] not in df_18_batter :
        only17.append(df_regular_batter[i])
    elif df_regular_batter[i] in df_18_batter and df_regular_batter[i] not in df_17_batter :
        only18.append(df_regular_batter[i])
    else :
        Neither.append(df_regular_batter[i])

In [82]:
Neither

['백승룡',
 '진갑용',
 '강병식',
 '강봉규',
 '강정호',
 '고도현',
 '고동진',
 '고메즈',
 '고영민',
 '박재홍',
 '권용관',
 '김경모',
 '김광연',
 '박재상',
 '김동주',
 '신현철',
 '연경흠',
 '김원섭',
 '김재민',
 '김재성',
 '나바로',
 '김종찬',
 '로메로',
 '로티노',
 '마낙길',
 '모상기',
 '문우람',
 '박계현',
 '박기남',
 '박노민',
 '박상규',
 '박용근',
 '박준서',
 '박진만',
 '박진원',
 '손용석',
 '송지만',
 '스나이더',
 '신경현',
 '신명철',
 '안치용',
 '알드리지',
 '양영동',
 '엄태용',
 '오재필',
 '용덕한',
 '유선정',
 '이종범',
 '유재혁',
 '윤완주',
 '이명환',
 '이민재',
 '이승재',
 '이여상',
 '이인구',
 '이정식',
 '이준호',
 '이태원',
 '한상훈',
 '이현곤',
 '이희근',
 '임재철',
 '임종혁',
 '장성호',
 '전현태',
 '정보명',
 '정상교',
 '정수성',
 '정형식',
 '조동화',
 '조성환',
 '조중근',
 '지재옥',
 '채상병',
 '최동수',
 '최민구',
 '최선호',
 '최훈락',
 '칸투',
 '테임즈',
 '피에',
 '한윤섭',
 '현재윤',
 '홍성흔',
 '황선일',
 '황정립']

### 모델 완성

### 17년 데이터로 18년거 예측해보자

In [23]:
df_18 = df[df['year'] == 2018]

In [24]:
len(df_17), len(df_18)

(217, 227)

In [25]:
df_17 = df_17[['batter_id', 'batter_name', 'year', 'avg', 'G', 'AB', 'R', 'H',
               '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'E', 'OPS']]
df_18 = df_18[['batter_id', 'batter_name', 'year', 'avg', 'G', 'AB', 'R', 'H',
               '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'SLG', 'OBP', 'E', 'OPS']]

In [26]:
df_1718 = pd.merge(df_17, df_18, on = 'batter_id', how = 'inner') 
df_1718

,batter_id,batter_name_x,year_x,avg_x,G_x,AB_x,R_x,H_x,2B_x,3B_x,...,SB_y,CS_y,BB_y,HBP_y,SO_y,GDP_y,SLG_y,OBP_y,E_y,OPS_y
0,1,강경학,2017,0.214,59,84,17,18,2,1,...,6,3,38,4,59,7,0.392,0.382,2,0.774
1,2,강구성,2017,0.000,1,1,0,0,0,0,...,0,0,0,0,3,0,0.400,0.200,0,0.600
2,4,강민호,2017,0.285,130,456,62,130,22,1,...,0,0,29,14,96,11,0.457,0.331,8,0.788
3,8,강상원,2017,0.214,33,14,8,3,1,0,...,1,0,1,0,2,0,0.000,0.143,0,0.143
4,9,강승호,2017,0.250,85,248,42,62,14,2,...,1,1,18,3,57,2,0.359,0.330,11,0.689
5,11,강진성,2017,0.296,28,27,5,8,3,0,...,0,0,4,0,17,3,0.279,0.274,0,0.553
6,12,강한울,2017,0.303,135,412,58,125,9,3,...,3,4,12,1,34,1,0.306,0.306,4,0.612
7,18,고종욱,2017,0.312,123,426,70,133,24,8,...,17,4,15,1,96,2,0.400,0.309,3,0.709
8,19,구자욱,2017,0.310,144,564,108,175,39,10,...,10,0,43,5,110,4,0.533,0.392,4,0.925
9,20,국해성,2017,0.209,57,86,15,18,3,0,...,1,0,3,1,5,1,0.458,0.429,0,0.887
10,22,권정웅,2017,0.212,61,99,11,21,3,0,...,0,0,0,0,0,0,0.000,0.000,0,0.000
11,23,권희동,2017,0.286,141,472,72,135,20,2,...,1,3,35,4,58,5,0.414,0.352,0,0.766
12,24,김강민,2017,0.219,88,183,31,40,5,1,...,10,6,22,5,57,1,0.536,0.370,2,0.906
13,28,김규민,2017,0.238,14,21,5,5,0,1,...,8,4,27,6,89,3,0.369,0.361,7,0.730
14,101,문선재,2017,0.261,35,92,17,24,6,1,...,0,0,0,0,3,0,0.167,0.167,0,0.334
15,30,김동엽,2017,0.277,125,393,58,109,18,1,...,11,2,17,4,108,13,0.480,0.285,3,0.765
16,31,김동욱,2017,0.287,83,209,28,60,9,0,...,0,0,1,0,4,0,0.091,0.167,0,0.258
17,33,김동한,2017,0.236,81,178,26,42,19,0,...,3,1,9,0,18,1,0.277,0.266,3,0.543
18,35,김문호,2017,0.292,131,390,49,114,17,1,...,1,0,13,0,27,2,0.380,0.336,2,0.716
19,36,김민성,2017,0.282,133,472,59,133,26,1,...,1,0,40,6,80,6,0.414,0.351,7,0.765
20,37,김민수,2017,0.143,13,21,2,3,1,0,...,0,0,0,0,2,1,0.167,0.167,0,0.334
21,38,김민식,2017,0.222,137,352,39,78,9,2,...,5,2,39,3,63,8,0.352,0.333,4,0.685
22,335,홍성갑,2017,0.143,7,7,0,1,0,0,...,0,0,0,0,3,1,0.000,0.000,0,0.000
23,40,김사훈,2017,0.184,57,76,1,14,3,0,...,0,0,1,1,22,0,0.270,0.250,2,0.520
24,41,김상수,2017,0.264,42,144,17,38,7,0,...,12,9,27,8,91,11,0.362,0.314,16,0.676
25,43,김선빈,2017,0.370,137,476,84,176,34,1,...,4,1,48,9,42,10,0.373,0.374,12,0.747
26,44,김성욱,2017,0.247,124,308,60,76,18,4,...,11,2,29,1,64,10,0.433,0.320,0,0.753
27,45,김성현,2017,0.271,130,380,45,103,14,0,...,6,2,29,9,42,19,0.357,0.336,17,0.693
28,46,김성훈,2017,0.318,47,151,27,48,4,2,...,12,6,16,6,23,2,0.324,0.321,4,0.645
29,48,김용의,2017,0.268,60,164,17,44,6,2,...,10,1,16,0,32,1,0.245,0.298,1,0.543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,279,정현,2017,0.300,124,350,45,105,20,3,...,3,0,9,0,28,3,0.376,0.317,8,0.693
156,282,정훈,2017,0.248,68,109,16,27,8,2,...,4,2,16,1,39,4,0.494,0.361,2,0.855
157,286,조수행,2017,0.277,80,47,17,13,2,0,...,9,0,9,0,33,4,0.372,0.311,1,0.683
158,293,주효상,2017,0.195,64,118,10,23,5,0,...,1,2,10,2,36,2,0.273,0.295,2,0.568
159,294,지석훈,2017,0.239,121,268,29,64,16,0,...,1,0,8,0,20,2,0.234,0.238,5,0.472
160,300,채은성,2017,0.267,114,333,28,89,12,3,...,3,1,35,9,97,12,0.548,0.379,3,0.927
161,301,채태인,2017,0.322,109,342,46,110,23,1,...,0,0,34,5,107,10,0.460,0.356,4,0.816
162,302,초이스,2017,0.307,46,176,37,54,8,1,...,2,1,33,10,79,4,0.458,0.335,2,0.793
163,307,최승준,2017,0.233,31,90,11,21,4,0,...,0,0,6,1,25,3,0.458,0.316,2,0.774
164,308,최영진,2017,0.200,14,20,4,4,0,2,...,2,4,10,0,30,6,0.444,0.341,3,0.785
165,309,최원제,2017,0.222,11,18,3,4,3,0,...,0,0,1,1,5,0,0.273,0.385,0,0.658
166,310,최원준,2017,0.308,72,156,27,48,15,0,...,10,4,20,4,58,4,0.364,0.324,14,0.688
167,311,최윤석,2017,0.219,21,32,3,7,0,0,...,0,0,2,0,0,0,NaN,1.000,0,NaN
168,312,최재훈,2017,0.257,104,269,22,69,10,0,...,8,0,20,15,61,8,0.329,0.337,5,0.666
169,313,최정,2017,0.316,130,430,89,136,18,1,...,9,2,58,23,129,10,0.547,0.368,11,0.915
170,314,최정민,2017,0.333,8,9,1,3,1,0,...,1,3,7,1,20,2,0.349,0.319,3,0.668
171,315,최주환,2017,0.301,129,399,65,120,16,6,...,1,0,51,10,89,5,0.582,0.397,3,0.979
172,316,최준석,2017,0.291,125,409,43,119,15,0,...,0,0,24,0,41,6,0.353,0.352,0,0.705
173,317,최진행,2017,0.306,89,258,29,79,21,0,...,0,1,15,3,53,5,0.390,0.305,1,0.695
174,318,최항,2017,0.321,37,106,14,34,8,0,...,2,2,25,8,57,1,0.450,0.384,10,0.834
175,319,최형우,2017,0.342,142,514,98,176,36,3,...,3,0,66,7,87,17,0.549,0.414,4,0.963
176,324,하주석,2017,0.285,111,432,69,123,18,8,...,14,12,28,4,130,7,0.364,0.300,18,0.664
177,325,하준호,2017,0.224,101,196,31,44,11,1,...,0,0,0,0,14,0,0.318,0.136,0,0.454
178,326,한동민,2017,0.294,103,350,64,103,21,2,...,4,2,52,16,124,10,0.601,0.367,1,0.968
179,329,한승택,2017,0.229,96,83,7,19,2,1,...,0,0,7,2,24,4,0.416,0.316,1,0.732
180,331,허경민,2017,0.257,130,369,50,95,22,1,...,20,4,32,16,52,15,0.459,0.376,7,0.835
181,332,허도환,2017,0.225,30,40,4,9,3,0,...,0,0,1,1,8,1,0.409,0.333,0,0.742
182,337,홍재호,2017,NaN,2,0,0,0,0,0,...,0,0,8,0,12,2,0.382,0.333,4,0.715
183,341,황윤호,2017,0.133,36,15,8,2,0,1,...,2,2,0,3,6,2,0.175,0.200,3,0.375
184,344,황진수,2017,0.291,60,117,18,34,6,2,...,1,0,2,0,5,0,0.333,0.231,3,0.564

In [27]:
df_1718.isnull().sum()

batter_id        0
batter_name_x    0
year_x           0
avg_x            1
G_x              0
AB_x             0
R_x              0
H_x              0
2B_x             0
3B_x             0
HR_x             0
TB_x             0
RBI_x            0
SB_x             0
CS_x             0
BB_x             0
HBP_x            0
SO_x             0
GDP_x            0
SLG_x            1
OBP_x            1
E_x              0
OPS_x            1
batter_name_y    0
year_y           0
avg_y            1
G_y              0
AB_y             0
R_y              0
H_y              0
2B_y             0
3B_y             0
HR_y             0
TB_y             0
RBI_y            0
SB_y             0
CS_y             0
BB_y             0
HBP_y            0
SO_y             0
GDP_y            0
SLG_y            1
OBP_y            0
E_y              0
OPS_y            1
dtype: int64

In [28]:
df_1718 = df_1718.dropna(axis=0)

In [29]:
len(df_1718)

183

In [30]:
X_test = df_1718[['avg_x', 'G_x', 'AB_x', 'R_x', 'H_x', '2B_x', '3B_x', 'HR_x', 'TB_x',
                   'RBI_x', 'SB_x', 'CS_x', 'BB_x', 'HBP_x', 'SO_x', 'GDP_x', 'E_x', 'SLG_x', 'OBP_x']]
y_test = df_1718['OPS_y']
X_test = X_test.values
y_test = y_test.values

In [31]:
X_test.shape

(183, 19)

In [32]:
y_test.shape

(183,)

In [33]:
y_test = y_test.reshape(-1, 1)

In [34]:
regr.predict(X_test)

array([[0.53802746],
       [0.41184879],
       [0.84494203],
       [0.47611735],
       [0.64473018],
       [0.74710794],
       [0.61226853],
       [0.81094303],
       [1.02816653],
       [0.63484093],
       [0.6292105 ],
       [0.87232549],
       [0.61253259],
       [0.64025407],
       [0.6710317 ],
       [0.82083151],
       [0.61981248],
       [0.55839611],
       [0.71865538],
       [0.78626113],
       [0.53425113],
       [0.58740551],
       [0.58560934],
       [0.52898678],
       [0.62478884],
       [0.76330025],
       [0.65579395],
       [0.59657912],
       [0.66322466],
       [0.6178909 ],
       [0.57074796],
       [0.65489482],
       [0.74621081],
       [0.97355212],
       [0.75787036],
       [0.50825812],
       [0.45776891],
       [0.63446566],
       [0.85354898],
       [0.55244109],
       [0.68843883],
       [0.90146469],
       [0.70309767],
       [0.59236214],
       [0.66396465],
       [0.54700459],
       [0.98330387],
       [0.51878014],
       [0.40524883],
       [0.75969341],
       [0.98362423],
       [0.6662143 ],
       [0.69456152],
       [0.60118549],
       [0.56982374],
       [0.9719488 ],
       [0.84957636],
       [0.83272683],
       [0.59176002],
       [0.8512389 ],
       [0.6425812 ],
       [0.83991443],
       [0.91324027],
       [0.71975437],
       [0.52381953],
       [0.5516717 ],
       [0.66325532],
       [0.83045022],
       [0.74946524],
       [0.64354635],
       [0.59881924],
       [0.84427799],
       [0.74238488],
       [0.62099355],
       [0.63214063],
       [0.76696628],
       [0.6701918 ],
       [0.66590672],
       [0.49500316],
       [0.60027056],
       [0.74005936],
       [1.06551359],
       [0.74949887],
       [0.76709014],
       [0.67394188],
       [0.82347216],
       [0.78091699],
       [0.84642218],
       [0.61218773],
       [0.81010201],
       [0.64525004],
       [1.00597724],
       [0.67157926],
       [0.56610324],
       [0.66902913],
       [0.56877686],
       [0.83299196],
       [0.74778862],
       [0.68519678],
       [0.76738406],
       [0.63942139],
       [0.58234988],
       [0.87749641],
       [0.6558662 ],
       [0.71362275],
       [0.65628552],
       [0.87785296],
       [0.65762974],
       [0.51199232],
       [0.74256574],
       [0.47950456],
       [0.85722773],
       [0.52340144],
       [0.60561217],
       [0.63360739],
       [0.98235729],
       [0.47256547],
       [0.83901475],
       [0.86315403],
       [0.58209849],
       [0.48935556],
       [0.97060088],
       [0.5855883 ],
       [0.75858219],
       [0.40356932],
       [0.61141836],
       [0.41020863],
       [0.79436972],
       [0.41105651],
       [0.40856848],
       [0.67136691],
       [0.48018788],
       [0.76181139],
       [0.68460611],
       [0.55222836],
       [0.6399045 ],
       [0.66053064],
       [0.61095228],
       [0.63051807],
       [0.68780217],
       [0.62515254],
       [0.54071475],
       [0.57670244],
       [0.84410566],
       [0.84793567],
       [0.59245305],
       [0.74569089],
       [0.65501852],
       [0.51648703],
       [0.58067277],
       [0.66509993],
       [0.78089452],
       [0.38706006],
       [0.70792127],
       [0.63405984],
       [0.80291575],
       [0.65997591],
       [0.48330277],
       [0.5669774 ],
       [0.62282501],
       [0.69407379],
       [0.80056351],
       [0.92668733],
       [0.72810408],
       [0.73493495],
       [0.58083688],
       [0.64923996],
       [0.57925799],
       [1.03480509],
       [0.60141102],
       [0.7718709 ],
       [0.7158565 ],
       [0.84990946],
       [0.6739469 ],
       [0.91250089],
       [0.82270293],
       [0.56914267],
       [0.94760311],
       [0.47899336],
       [0.61189938],
       [0.67217186],
       [0.6016442 ],
       [0.67823087]])

### 얼마나 잘 맞았을까?

In [43]:
mean_squared_error(regr.predict(X_test), y_test)

0.035294562100319664

In [95]:
df_daybyday.head()

,batter_id,batter_name,date,opposing_team,avg1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,avg2,year
0,0,가르시아,3.24,NC,0.333,3,1,1,0,0,0,0,0,0,1,0,1,0,0.333,2018
1,0,가르시아,3.25,NC,0.000,4,0,0,0,0,0,0,0,0,0,0,1,0,0.143,2018
2,0,가르시아,3.27,넥센,0.200,5,0,1,0,0,0,0,0,0,0,0,0,0,0.167,2018
3,0,가르시아,3.28,넥센,0.200,5,1,1,0,0,0,1,0,0,0,0,0,0,0.176,2018
4,0,가르시아,3.29,넥센,0.250,4,0,1,0,0,0,3,0,0,0,0,0,1,0.190,2018

In [100]:
regular_all = df_daybyday[ df_daybyday['date'] <= 12.31 ]
regular_half = df_daybyday[ df_daybyday['date'] <= 07.16 ]

In [109]:
regular_all_s = regular_all.sum(axis = 0, skipna = True)

In [110]:
regular_half_s = regular_half.sum(axis = 0, skipna = True)

In [111]:
regular_all_s

batter_id                                                 18368422
batter_name      가르시아가르시아가르시아가르시아가르시아가르시아가르시아가르시아가르시아가르시아가르시아가르...
date                                                        735534
opposing_team    NCNC넥센넥센넥센KIAKIAKIA두산두산롯데롯데롯데SKSKSKKTKTKTKIASK...
avg1             0.3330.0000.2000.2000.2500.6001.0000.7500.4000...
AB                                                          312135
R                                                            47880
H                                                            88060
2B                                                           15515
3B                                                            1556
HR                                                            8740
RBI                                                          43841
SB                                                            8229
CS                                                            3580
BB                                                           31861
HBP                                                           5597
SO                                                           61379
GDP                                                           6960
avg2                                                       29455.8
year                                                     221026179
dtype: object

In [127]:
ops_all = ((regular_all_s['H']+regular_all_s['2B']+regular_all_s['3B']+regular_all_s['HR']+regular_all_s['BB']+regular_all_s['HBP'])/(regular_all_s['AB']+regular_all_s['BB']+regular_all_s['HBP']))+ ((regular_all_s['H']+2*regular_all_s['2B']+3*regular_all_s['3B']+4*regular_all_s['HR'])/(regular_all_s['AB']))

In [129]:
ops_half = ((regular_half_s['H']+regular_half_s['2B']+regular_half_s['3B']+regular_half_s['HR']+regular_half_s['BB']+regular_half_s['HBP'])/(regular_half_s['AB']+regular_half_s['BB']+regular_half_s['HBP']))+ ((regular_half_s['H']+2*regular_half_s['2B']+3*regular_half_s['3B']+4*regular_half_s['HR'])/(regular_half_s['AB']))

In [135]:
ops_coefficient = (ops_half)/(ops_all)

In [136]:
ops_coefficient

0.9979257702577301

In [139]:
df_18

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
6,1,강경학,2018,한화,0.278,77,245,42,68,11,...,7,0.392,0.382,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.774
11,2,강구성,2018,NC,0.200,4,5,0,1,1,...,0,0.400,0.200,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600
41,3,강민국,2018,NC,0.250,6,4,0,1,0,...,0,0.250,0.250,0,176cm/80kg,1992년 01월 10일,내야수(우투우타),송정동초-충장중-광주제일고-동국대-NC-상무,20000만원,0.500
56,4,강민호,2018,삼성,0.269,129,427,46,115,14,...,11,0.457,0.331,8,185cm/100kg,1985년 08월 18일,포수(우투우타),제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.788
57,5,강백호,2018,KT,0.290,138,527,108,153,32,...,4,0.524,0.356,6,184cm/98kg,1999년 07월 29일,외야수(우투좌타),부천북초-이수중-서울고,45000만원,0.880
85,8,강상원,2018,한화,0.000,6,6,0,0,0,...,0,0.000,0.143,0,172cm/64kg,1997년 05월 05일,외야수(우투좌타),온양온천초-온양중-북일고,3000만원,0.143
88,9,강승호,2018,SK,0.255,69,184,14,47,10,...,2,0.359,0.330,11,179cm/77kg,1994년 02월 09일,내야수(우투우타),순천북초-천안북중-북일고-LG-경찰-LG,20000만원,0.689
100,11,강진성,2018,NC,0.235,45,68,5,16,3,...,3,0.279,0.274,0,180cm/81kg,1993년 10월 19일,내야수(우투우타),가동초-잠신중-경기고-NC-경찰,7000만원,0.553
105,12,강한울,2018,삼성,0.259,83,193,20,50,5,...,1,0.306,0.306,4,181cm/66kg,1991년 09월 12일,내야수(우투좌타),사당초-중앙중-안산공고-원광대-KIA,14000만원,0.612
119,16,고명성,2018,KT,0.000,5,2,0,0,0,...,0,0.000,0.000,0,178cm/68kg,1999년 04월 16일,내야수(우투우타),군산남초-군산남중-군산상고,7000만원,0.000
146,18,고종욱,2018,넥센,0.279,102,330,47,92,22,...,2,0.400,0.309,3,184cm/83kg,1989년 01월 11일,외야수(우투좌타),역삼초-대치중-경기고-한양대-넥센-상무,8000만원,0.709
150,19,구자욱,2018,삼성,0.333,116,478,100,159,26,...,4,0.533,0.392,4,189cm/75kg,1993년 02월 12일,외야수(우투좌타),본리초-경복중-대구고-삼성-상무,13000만원,0.925
155,20,국해성,2018,두산,0.333,14,24,4,8,3,...,1,0.458,0.429,0,180cm/94kg,1989년 10월 08일,외야수(우투양타),군산중앙초-동인천중-인천고,NaN,0.887
194,22,권정웅,2018,삼성,0.000,6,8,0,0,0,...,0,0.000,0.000,0,180cm/88kg,1992년 11월 15일,포수(우투우타),서울이수초-영동중-덕수고-한양대,6000만원,0.000
199,23,권희동,2018,NC,0.283,104,343,43,97,19,...,5,0.414,0.352,0,177cm/85kg,1990년 12월 30일,외야수(우투우타),동천초-경주중-경주고-경남대-NC-상무,3000만원,0.766
216,24,김강민,2018,SK,0.298,80,235,40,70,14,...,1,0.536,0.370,2,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,0.906
238,28,김규민,2018,넥센,0.295,104,298,47,88,9,...,3,0.369,0.361,7,188cm/85kg,1993년 01월 26일,외야수(좌투좌타),일산초-자양중-휘문고,5000만원,0.730
261,101,문선재,2018,LG,0.167,2,6,0,1,0,...,0,0.167,0.167,0,184cm/80kg,1990년 05월 20일,외야수(우투우타),광주서림초-광주동성중-광주동성고-LG-상무,5000만원,0.334
264,30,김동엽,2018,SK,0.252,124,421,58,106,15,...,13,0.480,0.285,3,186cm/101kg,1990년 07월 24일,외야수(우투우타),천안남산초-천안북중-북일고,NaN,0.765
271,31,김동욱,2018,KT,0.091,11,11,2,1,0,...,0,0.091,0.167,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,0.258
292,33,김동한,2018,롯데,0.193,55,83,11,16,1,...,1,0.277,0.266,3,174cm/74kg,1988년 06월 24일,내야수(우투우타),내발산초-양천중-장충고-동국대-두산-상무-두산,4000만원,0.543
305,35,김문호,2018,롯데,0.250,46,100,12,25,7,...,2,0.380,0.336,2,185cm/102kg,1987년 06월 22일,외야수(좌투좌타),고명초-덕수중-덕수정보고-(영남사이버대)-롯데-상무,12000만원,0.716
317,36,김민성,2018,넥센,0.283,128,413,46,117,24,...,6,0.414,0.351,7,181cm/94kg,1988년 12월 17일,내야수(우투우타),고명초-잠신중-덕수정보고-(영남사이버대)-롯데,10000만원,0.765
320,37,김민수,2018,삼성,0.167,8,6,0,1,0,...,1,0.167,0.167,0,177cm/80kg,1991년 03월 02일,포수(우투우타),대구옥산초-경복중-대구상원고-영남대-한화-삼성-상무,11000만원,0.334
324,38,김민식,2018,KIA,0.245,125,310,53,76,9,...,8,0.352,0.333,4,180cm/80kg,1989년 06월 28일,포수(우투좌타),양덕초-마산중-마산고-원광대-SK-상무-SK,14000만원,0.685
329,335,홍성갑,2018,넥센,0.000,6,8,1,0,0,...,1,0.000,0.000,0,181cm/80kg,1992년 08월 02일,외야수(우투우타),서원초-천안북중-북일고,NaN,0.000
334,39,김민하,2018,한화,0.216,59,97,13,21,4,...,6,0.351,0.274,0,181cm/88kg,1989년 02월 25일,외야수(우투우타),승학초-부산대신중-경남고-중앙대-롯데-상무-롯데,NaN,0.625
340,40,김사훈,2018,롯데,0.230,56,74,7,17,3,...,0,0.270,0.250,2,173cm/89kg,1987년 06월 18일,포수(우투우타),감천초-대신중-부산고-한민대-롯데-경찰,NaN,0.520
350,41,김상수,2018,삼성,0.263,122,453,63,119,13,...,11,0.362,0.314,16,175cm/68kg,1990년 03월 23일,내야수(우투우타),대구옥산초-경복중-경북고,28000만원,0.676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2139,295,지성준,2018,한화,0.275,99,207,22,57,7,...,6,0.411,0.320,3,180cm/92kg,1994년 04월 10일,포수(우투우타),청주우암초-청주중-청주고,NaN,0.731
2170,300,채은성,2018,LG,0.331,139,529,78,175,36,...,12,0.548,0.379,3,186cm/92kg,1990년 02월 06일,외야수(우투우타),순천북초-순천이수중-효천고,NaN,0.927
2182,301,채태인,2018,롯데,0.293,130,376,44,110,18,...,10,0.460,0.356,4,187cm/94kg,1982년 10월 11일,내야수(좌투좌타),대신초-대동중-부산상고-삼성-넥센,10000만원,0.816
2184,302,초이스,2018,넥센,0.258,96,349,55,90,19,...,4,0.458,0.335,2,183cm/98kg,1989년 11월 10일,외야수(우투우타),미국 Texas at Arlington(대),NaN,0.793
2225,307,최승준,2018,SK,0.250,27,72,5,18,3,...,3,0.458,0.316,2,188cm/88kg,1988년 01월 11일,내야수(우투우타),인천서림초-동산중-동산고-LG,5000만원,0.774
2231,308,최영진,2018,삼성,0.294,61,126,13,37,7,...,6,0.444,0.341,3,185cm/87kg,1988년 05월 10일,내야수(우투우타),영랑초-설악중-속초상고-한일장신대-LG-두산,NaN,0.785
2235,309,최원제,2018,삼성,0.273,8,11,1,3,0,...,0,0.273,0.385,0,183cm/95kg,1989년 02월 04일,내야수(우투좌타),사당초-이수중-장충고-삼성-경찰,25000만원,0.658
2238,310,최원준,2018,KIA,0.272,101,302,46,82,14,...,4,0.364,0.324,14,178cm/85kg,1997년 03월 23일,내야수(우투좌타),연현초-서울경원중-서울고,15000만원,0.688
2245,311,최윤석,2018,한화,NaN,2,0,1,0,0,...,0,NaN,1.000,0,175cm/75kg,1987년 03월 28일,내야수(우투우타),화곡초-덕수중-성남고-홍익대-SK-한화-경찰,6000만원,NaN
2253,312,최재훈,2018,한화,0.262,128,298,36,78,17,...,8,0.329,0.337,5,178cm/76kg,1989년 08월 27일,포수(우투우타),화곡초-덕수중-덕수고-(방송통신대)-두산-경찰-두산,NaN,0.666
2267,313,최정,2018,SK,0.244,115,406,95,99,16,...,10,0.547,0.368,11,180cm/90kg,1987년 02월 28일,내야수(우투우타),대일초-평촌중-유신고,30000만원,0.915
2272,314,최정민,2018,KIA,0.253,57,83,17,21,2,...,2,0.349,0.319,3,177cm/75kg,1989년 06월 02일,내야수(우투좌타),배영초-마산중-마산고-동아대-SK-상무-SK,6000만원,0.668
2283,315,최주환,2018,두산,0.333,138,519,87,173,39,...,5,0.582,0.397,3,178cm/73kg,1988년 02월 28일,내야수(우투좌타),학강초-광주동성중-광주동성고-두산-상무,6000만원,0.979
2299,316,최준석,2018,NC,0.255,93,153,7,39,3,...,6,0.353,0.352,0,187cm/130kg,1983년 02월 15일,내야수(우투우타),칠성초-포철중-포철공고-(영남사이버대)-롯데-두산-롯데,3000만원,0.705
2312,317,최진행,2018,한화,0.213,57,136,14,29,3,...,5,0.390,0.305,1,188cm/100kg,1985년 08월 17일,외야수(우투우타),서울동원초-청량중-덕수정보고-(우송대)-한화-경찰,10000만원,0.695
2314,318,최항,2018,SK,0.293,98,222,38,65,12,...,1,0.450,0.384,10,183cm/88kg,1994년 01월 03일,내야수(우투좌타),대일초-매송중-유신고,NaN,0.834
2327,319,최형우,2018,KIA,0.339,143,528,92,179,34,...,17,0.549,0.414,4,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,0.963
2344,324,하주석,2018,한화,0.254,141,484,67,123,20,...,7,0.364,0.300,18,184cm/84kg,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,0.664
2350,325,하준호,2018,KT,0.136,15,22,2,3,1,...,0,0.318,0.136,0,174cm/78kg,1989년 04월 29일,외야수(좌투좌타),하단초-대동중-경남고-롯데,16000만원,0.454
2356,326,한동민,2018,SK,0.284,136,486,97,138,31,...,10,0.601,0.367,1,190cm/95kg,1989년 08월 09일,외야수(우투좌타),중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,0.968
2357,327,한동희,2018,롯데,0.232,87,211,24,49,13,...,7,0.360,0.279,12,181cm/99kg,1999년 06월 01일,내야수(우투우타),대연초-경남중-경남고,18000만원,0.639
2361,329,한승택,2018,KIA,0.247,61,89,10,22,6,...,4,0.416,0.316,1,174cm/83kg,1994년 06월 21일,포수(우투우타),잠전초(남양주리틀)-잠신중-덕수고-한화-경찰,9000만원,0.732
2372,331,허경민,2018,두산,0.324,133,516,85,167,30,...,15,0.459,0.376,7,176cm/69kg,1990년 08월 26일,내야수(우투우타),송정동초-충장중-광주제일고-두산-경찰,13000만원,0.835
2381,332,허도환,2018,SK,0.273,23,22,4,6,0,...,1,0.409,0.333,0,176cm/87kg,1984년 07월 31일,포수(우투우타),서울학동초-이수중-서울고-단국대-두산-넥센-한화,NaN,0.742
2392,334,호잉,2018,한화,0.306,142,529,85,162,47,...,5,0.573,0.369,4,190cm/92kg,1989년 05월 18일,외야수(우투좌타),미국 Fort Loramie(고)-미국 Toledo(대),300000달러,0.942
2417,337,홍재호,2018,KIA,0.263,56,76,16,20,6,...,2,0.382,0.333,4,180cm/79kg,1987년 05월 10일,내야수(우투우타),부산대연초-대천중-부산고-고려대-KIA-경찰,4000만원,0.715
2419,338,홍창기,2018,LG,0.167,12,18,1,3,2,...,0,0.278,0.400,0,189cm/94kg,1993년 11월 21일,외야수(우투좌타),대일초-매송중-안산공고-건국대-LG-경찰,8000만원,0.678
2433,341,황윤호,2018,KIA,0.158,82,57,11,9,1,...,2,0.175,0.200,3,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.375
2444,342,황재균,2018,KT,0.296,142,530,76,157,41,...,5,0.526,0.358,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.884
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333,0.231,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564

In [140]:
null_ops = df_18.sum(axis = 0, skipna = True)

In [141]:
null_ops

batter_id                                                    37865
batter_name      가르시아강경학강구성강민국강민호강백호강상원강승호강진성강한울고명성고종욱구자욱국해성권정웅...
year                                                        458086
team             LG한화NCNC삼성KT한화SKNC삼성KT넥센삼성두산삼성NCSK넥센LGSKKT롯데롯데...
avg                                                         55.771
G                                                            17302
AB                                                           49249
R                                                             7810
H                                                            14159
2B                                                            2588
3B                                                             183
HR                                                            1734
TB                                                           22315
RBI                                                           7449
SB                                                             912
CS                                                             403
BB                                                            4494
HBP                                                            831
SO                                                           10329
GDP                                                           1115
SLG                                                         83.415
OBP                                                         70.721
E                                                              843
height/weight    177cm/93kg180cm/72kg180cm/82kg176cm/80kg185cm/...
year_born        1985년 04월 12일1992년 08월 11일1993년 06월 09일1992년 0...
position         내야수(우투우타)내야수(우투좌타)외야수(우투좌타)내야수(우투우타)포수(우투우타)외야...
career           쿠바 Ciego de Avila Maximo Gomez Baez(대)광주대성초-광주...
OPS                                                        153.136
dtype: object

In [145]:
ave_ops_sum = (df_18['AB']*df_18['OPS'])

In [147]:
total_ops = ave_ops.sum(axis = 0, skipna = True)

In [151]:
ave_ops = (total_ops)/(null_ops['AB'])

In [152]:
ave_ops

0.8065384880911287